<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>留言板作业</title>
    <script src="../js/vue.min.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="msg" placeholder="请输入留言" @change="add">
    <input type="button" value="发表" @click="add">
    <ul>
        <li v-for="(i, index) in list" :key="index">{{i}} <a href="javascript:;" @click="del(index)">删除</a></li>
    </ul>
    <p>留言数量：{{list.length}}</p>
    <button v-if="list.length" @click="del_all">删除所有</button>
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            msg:'',
            list:['卢本伟牛逼', '卢本伟广场'],
            del_all_show:true,
        },
        methods: {
            add() {
                let flag = this.msg
                if (flag){
                    this.list.unshift(this.msg)
                    this.msg = ''
                }
            },
            del(index) {
                this.list.splice(index, 1)

            },
            del_all() {
                this.list = []
            }
        },
    })
</script>
</body>
</html>